<component name="ArtifactManager">
  <artifact type="war" name="SpringInteActiveMQ:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringInteJMS.war">
      <element id="artifact" artifact-name="SpringInteActiveMQ:war exploded" />
    </root>
  </artifact>
</component>